# **Dacon 부동산 데이터 시각화 경진대회**
- [데이콘 대회 페이지](https://dacon.io/competitions/official/235724/overview/description)
- 주제 : 한국의 부동산 데이터와 사용자가 직접 수집한 외부 데이터를 활용하여 부동산 가격 변화 및 사회와의 관련성을 분석.
- 과제 : 
  - 한국 부동산 움직임이 쉽고 명확하게 보이도록 시각화
  - 부동산 데이터로부터 사회 현상을 설명하는 인사이트 발굴
  - 외부 데이터를 적극 활용한 인사이트 발굴
  - 파이썬 및 R의 시각화 툴을 활용한 데이터 분석 학습

--------------------------------------------------------

### **Pandas to Excel**

In [21]:
import pandas as pd
import openpyxl
import xlwt

##**개별 데이터에 대한 분석**

In [1]:
import pandas as pd

perm = pd.read_csv("/content/건축허가현황.csv")
dmc = pd.read_csv("/content/국내건설수주액.csv")                # 부문별
unsold = pd.read_csv("/content/미분양주택현황.csv")               # 지역별
apt_pidx = pd.read_csv("/content/아파트 실거래가격지수.csv")            # 지역별
hm_pidx = pd.read_csv("/content/유형별_주택월세통합가격지수.csv")       # 지역별, 유형별
phc = pd.read_csv("/content/주택건설인허가실적.csv")                 # 지역별
hs_pidx = pd.read_csv("/content/주택매매가격지수(KB).csv")          # 주택유형별
hy_pidx = pd.read_csv("/content/주택전세가격지수(KB).csv")      # 주택유형별
loc_pcr = pd.read_csv("/content/지역별_지가변동률.csv")         # 지역별

### **Data 를 바탕으로 분석해보고 싶은 주제**

- 지역별로 어떤 주택 형태를 선호하는지
  - hm_pidx, 
- 수도권-비수도권 주택가격 양극화 현상
- 지역별 주택가격 변동과 지역 성장 사이의 상관관계
- 주요 부동산 정책변화에 따른 부동산 가격 변동, 정책의 효용 파악

--------------------------------------------------------

### **1. 건축 허가 현황**

In [ ]:
perm.head(5)

In [ ]:
perm.info()

--------------------------------------------------------

### **2. 국내건설 수주액**

In [ ]:
dmc.head(5)

In [ ]:
# dmc.info()      # (542, 31)
dmc.isnull().sum()    # 결측값 확인

# 국내외국기관[백만원] : 26
# 민자[백만원]          228
# 조경공사[백만원]        396

--------------------------------------------------------

### **3. 미분양 주택 현황**

In [ ]:
unsold.head(5)

In [ ]:
unsold.info()     # (170, 20)
unsold.isnull().sum()     # 세종시 : 66/170 NaN

--------------------------------------------------------

### **4. 아파트 실거래 가격 지수**

In [ ]:
apt_pidx = pd.read_csv("/content/아파트 실거래가격지수.csv")            # 지역별
apt_pidx.head(5)

In [116]:
columns = apt_pidx.iloc[:, 1:].columns
for col in columns:
    apt_pidx.rename(columns={col:col.strip('\n').replace('[2017.11=100]', '')}, inplace=True)

In [118]:
# new_feature_name_df[['column_name', 'dup_cnt']].apply(lambda x : x[0]+'_'+str(x[1]) if x[1] > 0 else x[0], axis=1)

apt_pidx['year'] = apt_pidx[['Unnamed: 0']].apply(lambda x : int(x[0][:4]), axis=1)

yearly_mean = apt_pidx.groupby('year').mean()
total_mean = yearly_mean.mean()

total_mean
yearly_mean.head(10)

            도심권        동북권        동남권  ...         서울        수도권         지방
year                                   ...
2006  63.508333  62.083333  68.383333  ...  66.133333  71.708333  60.066667
2007  75.291667  76.800000  74.708333  ...  76.633333  85.700000  62.775000
2008  82.141667  87.791667  73.033333  ...  80.666667  90.775000  64.533333
2009  82.850000  86.883333  75.950000  ...  81.450000  89.641667  65.333333
2010  84.158333  85.708333  77.325000  ...  82.100000  88.700000  69.883333
2011  84.075000  86.133333  77.625000  ...  82.341667  88.616667  80.625000
2012  79.575000  81.008333  71.216667  ...  77.166667  83.291667  84.691667
2013  77.500000  79.508333  70.500000  ...  75.991667  81.525000  86.375000
2014  78.425000  81.616667  73.350000  ...  78.341667  84.275000  90.608333
2015  84.750000  86.791667  79.008333  ...  83.825000  89.883333  97.058333

[10 rows x 28 columns]

In [ ]:
apt_pidx.info()     # (181, 29)
apt_pidx.isnull().sum()       # 광역시 :      181

<img src="https://user-images.githubusercontent.com/92680829/140244851-f1a99727-b952-4897-b200-8192cdb5c494.png" width="5000px" />

[Tableau 통합문서](https://public.tableau.com/app/profile/.56883401/viz/vs_16359914721430/3?publish=yes)

--------------------------------------------------------

### **5. 유형별_주택월세통합가격지수**

In [ ]:
hm_pidx.head(5)

In [ ]:
# hm_pidx.info()          # (70, 97)
hm_pidx.isnull().sum().sum()          # 종합-울산 이거왜..?

--------------------------------------------------------

### **6. 주택건설 인허가 실적**

In [ ]:
phc.head(5)

In [ ]:
phc.info()          # (170, 22)
phc.isnull().sum()      # 세종[호]    :  67

--------------------------------------------------------

### **7. 주택 매매가격지수**

In [68]:
import numpy as np
import pandas as pd 
import openpyxl
import xlwt

In [43]:
hs_pidx = pd.read_csv("/content/주택매매가격지수(KB).csv")          # 주택유형별
hs_pidx.head(5)

   Unnamed: 0  총지수[2019.01=100]  ...  아파트(서울)[2019.01=100]  총지수(서울)[2019.01=100]
0  1986-01-01            34.656  ...                17.153                30.044
1  1986-02-01            34.656  ...                17.183                30.044
2  1986-03-01            34.708  ...                17.153                30.002
3  1986-04-01            34.449  ...                17.034                29.837
4  1986-05-01            34.293  ...                16.945                29.588

[5 rows x 7 columns]

In [ ]:
hs_pidx.info()          # (429, 7)
hs_pidx.isnull().sum()         # Clear

In [74]:
hs_pidx['year'] = hs_pidx[['Unnamed: 0']].apply(lambda x : int(x[0][:4]), axis=1)

yearly_mean = hs_pidx.groupby('year').mean()
# total_mean = yearly_mean.mean()

columns = hs_pidx.iloc[:, 1:].columns
for col in columns:
    yearly_mean.rename(columns={col:col.replace('[2019.01=100]', '')}, inplace=True)

yearly_mean_reset = yearly_mean.reset_index()
yearly_mean_reset['year'] = yearly_mean_reset[['year']].apply(lambda x : int(x[0]), axis=1)

In [75]:
yearly_mean.drop(['단독주택', '연립주택'], axis=1, inplace=True )
yearly_mean

column_name = yearly_mean.iloc[:, 1:].columns

In [77]:
yearly_mean_tr = yearly_mean.transpose()
yearly_mean_tr
for col in yearly_mean_tr.columns:
    yearly_mean_tr.rename(columns={col:str(int(col))}, inplace=True)

yearly_mean_tr.drop(['2021'], axis=1, inplace=True)

In [93]:
first_last = yearly_mean_tr[['1986', '2020']]
first_last['증가폭'] = first_last[['1986', '2020']].apply(lambda x : np.round(x[1] - x[0], 2), axis=1)
first_last['증가율(%)'] = first_last[['1986', '2020']].apply(lambda x : np.round(x[1] - x[0]/x[0], 2), axis=1)
first_last1 = first_last.iloc[:, 2:]
first_last

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

year          1986        2020    증가폭  증가율(%)
총지수      34.215250  103.552500  69.34  102.55
아파트      20.577167  103.574750  83.00  102.57
아파트(서울)  16.821000  108.577167  91.76  107.58
총지수(서울)  29.467250  106.863333  77.40  105.86

In [96]:
with pd.ExcelWriter('increase.xlsx') as writer:
  first_last1.to_excel(writer, sheet_name='increase')
with pd.ExcelWriter('increase1.xlsx') as writer:
  first_last.to_excel(writer, sheet_name='increase1')

<img src="https://user-images.githubusercontent.com/92680829/140245671-42903a48-5765-400b-b238-f2bd97f9905e.png" width="5000px" />

[Tableau 통합문서](https://public.tableau.com/app/profile/.56883401/viz/_16358800914820/sheet5)

<img src="https://user-images.githubusercontent.com/92680829/140245878-344557ba-80ab-4bae-8939-50d944181732.png" width="5000px" />

[Tableau 통합 문서](https://public.tableau.com/app/profile/.56883401/viz/vs_16359914721430/3)

--------------------------------------------------------

### **8. 주택 전세가격지수**

In [ ]:
hy_pidx.head(5)

In [ ]:
hy_pidx.info()          # (423, 7)
hy_pidx.isnull().sum()          # Clear

--------------------------------------------------------

### **9. 지역별_지가변동률**

In [ ]:
loc_pcr.head(5)

In [ ]:
loc_pcr.info()          # (194, 19)
loc_pcr.isnull().sum()          # 세종[%]  : 90

--------------------------------------------------------